<div role="main" data-role="page">
  <div class="ui-content">
    <h1>Daily Questions</h1>

    <form method="POST" action="/mark/<%= @token.value %>">

      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />

      <% @questions.each do |q| %>
        <label for="question_<%= q.id %>"><%= q.question_text %></label>
        <%= render partial: "question_#{q.kind}", locals: {q: q, v: answer_for_question(q)} %>
      <% end %>

      <button type="submit" id="submit" class="ui-shadow ui-btn ui-corner-all">Submit</button>

    </form>

  </div>
</div>
